<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <h1>
        Welcome bro
    </h1>
    <ul>
        <li><a href="/allchat">Global Chat Room</a></li>
        <li><a href="https://tenor.com/view/geoff-esper-geoff-esper-funny-eating-gif-25129593">Random Suprise</a></li>
        <li><a href="/users/profile">Profile</a></li>
        <li><a href="/users/logout">Sign Out</a></li>
    </ul>
    <a href="https://getbootstrap.com/">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQepztV3IdDftu5ioW8XPyl7dbgOYsaGH-k0A&s"/>
    </a>
</body>
</html>